.cards {
  background-color: #F6F6F6;
  padding: 71px;
  margin: 45px 100px;
  border-radius: 24px;
  display: grid;
}
.cards .card {
  background-color: #FF6060;
  height: 340px;
  width: 340px;
  display: grid;
  padding: 10px;
  border-radius: 10px;
}
.cards .card h2 {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  color: white;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 21px;
  inline-size: 130px;
  overflow-wrap: break-word;
}