footer {
  display: flex;
  flex-direction: column;
  height: 209px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
footer img {
  width: 122px;
}
footer p {
  display: flex;
}