@import "App.scss";

.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    overflow: hidden;

    .collapse-title-container {
        display: flex;
        justify-content: space-between;
        background-color: $main-color;
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
        z-index: 99;
    }

    .collapse-title {
        color: white;
        font-weight: bold;
    }

    .collapse-arrows {
        transition: transform 0.4s ease-in-out;

        &.open {
            transform: rotate(-180deg);
        }
    }

    .collapse-content {
        color: black;
        background-color: rgba(246, 246, 246, 0.45);
        padding: 15px;
        line-height: 1.5;
        font-size: 14px;
        opacity: 0;
        transform: translateY(-20%);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

        &.open {
            opacity: 1;
            transform: translateY(0);
            position: relative;
            animation: openCollapse 0.4s ease-in-out forwards;
        }

        &:not(.open) {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .collapse {
        font-size: 13px;

        .collapse-arrows {
            img {
                height: 10px;
            }
        }

        .collapse-content {
            font-size: 11px;
        }
    }
}

@keyframes openCollapse {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}