.rent-gallery {
    background-color: #F6F6F6;
    padding: 50px;
    margin: 45px 100px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 4%;
    grid-row-gap: 30px;
}

@media (max-width: 480px) {
    .rent-gallery{
    grid-template-columns: 100%;
    margin: unset;
    padding:10px;
    background-color: unset;
    }
}