.slide {
    margin: 45px 100px;
    position: relative;
    height: 415px;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &--left {
            left: 10px;
        }

        &--right {
            right: 10px;
        }
    }
}
